.ag-theme-alpine.ag-theme-lpn-dark{
    --ag-font-size: 16px;
    --ag-font-weight: lighter;
    --ag-font-family: var(--bs-body-font-family);
    --ag-foreground-color: var(--primary-text-color);
    --ag-borders: none;
    --ag-border-color: none;
    --ag-row-border-color:var(--lpn-bg-dark);
    --ag-row-border-width: 1px;
    /*---ag-row-border-style: dashed;*/

    --ag-background-color: var(--bg-color);
    --ag-odd-row-background-color: var(--bg-color);
    --ag-header-background-color: var(--bg-color);
    --ag-header-foreground-color: var(--highliht-color);
    --ag-row-hover-color: transparent;

    /*

    --ag-alpine-active-color: red;
    */

}



.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper, .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container, .ag-theme-alpine .ag-layout-print .ag-center-cols-clipper, .ag-theme-alpine .ag-layout-print .ag-center-cols-container, .ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-clipper, .ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-container, .ag-theme-alpine-dark .ag-layout-print .ag-center-cols-clipper, .ag-theme-alpine-dark .ag-layout-print .ag-center-cols-container {
    min-height: auto !important;  /*Why Did I needed to add important* ?*/
}

.ag-theme-alpine .ag-header-cell {
    font-weight: lighter;
    border-bottom: 1px solid var(--highliht-color);
}

.ag-theme-alpine .ag-row:hover {
    color: var(--highliht-color);
}

.ag-theme-alpine .custom-components-grid {

}

/* ---------------------------------------------------------------------------------------------------------------------
Style for Tables within Accordion Items
--------------------------------------------------------------------------------------------------------------------- */
.ag-theme-alpine.ag-theme-accordion .ag-row{
    font-size: 0.85rem;
}

.ag-theme-alpine.ag-theme-accordion{
    --ag-font-size: 0.85rem;
    --ag-font-weight: 600;
    --ag-font-family: var(--bs-body-font-family);
    --ag-foreground-color: var(--primary-text-color);
    --ag-borders: none;
    --ag-border-color: none;
    --ag-row-border-color:var(--lpn-bg-dark);
    --ag-row-border-width: 0px;
    /*---ag-row-border-style: dashed;*/

    --ag-background-color: var(--bg-color);
    --ag-odd-row-background-color: var(--bg-color);
    --ag-header-background-color: var(--bg-color);
    --ag-header-foreground-color: var(--secondary-text-color);
    --ag-row-hover-color: transparent;
}

.ag-theme-alpine.ag-theme-accordion.headers1{
    --ag-row-border-color:var(--lpn-bg-dark);
    --ag-row-border-width: 1px;
}

.ag-theme-alpine.ag-theme-accordion .ag-header-cell {
    font-weight: 600;
    border-bottom: 1px solid var(--primary-text-color);
    /*padding: 0;  NOTE: THIS SHOULD BE REACTIVATED FOR THE ADD DATA LICENSE MENU!*/
}

/* Inline Editor*/
.ag-theme-alpine.ag-theme-accordion .ag-cell-inline-editing{
    border: none;
    background: none;
    box-shadow: none ;
    padding: 0;
    border-radius: 0.375rem;
}

.ag-theme-alpine.ag-theme-accordion .ag-ltr .ag-cell:focus{
    border: none !important;
    outline: none;
    border-radius: 0.375rem;
    color: var(--highliht-color);
    background-color: var(--bg-color);
}


.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within{
    /*border: 1px solid var(--highliht-color) !important;*/
    border: none !important;
    outline: none;
    border-radius: 0.375rem;
    background-color: var(--secondary-bg-color);
}



.ag-theme-alpine.ag-theme-accordion .ag-row .ag-cell {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
}



.ag-theme-alpine.ag-theme-accordion.headers1 {
    --ag-header-height: 30px;
}

.ag-theme-alpine.ag-theme-accordion.headers1 .ag-header.headers1 {

    --ag-header-foreground-color: red;
}

.ag-theme-alpine.ag-theme-accordion.headers30 {
    --ag-header-height: 30px;
}

.ag-theme-alpine.headers1 .ag-header-group-cell-label {
    justify-content: center;

    font-weight: bolder;
    align-self: center;
}
.ag-theme-alpine.headers1 .ag-header-cell-label {
}

.ag-theme-alpine.ag-theme-accordion .ag-cell.ag-right-aligned-cell{
    justify-content: end ;
}
